<!-- Welcome Area Start -->
<div class="welcome-area section-pt-60 bg-image-03">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="welcome-section text-center">
                    <div class="welcome-title">
                        <h2><strong>Vựa Rau G4 - Greens 4 Season</strong></h2>
                        <div class="title-images">
                            <img src="/frontend/assets/images/icon/img-title.png" alt="">
                        </div>
                    </div>
                    <p class="fz-15">
                        Vita donec vivamus nibh lorem mauris varius. In proin, diam amet sed accumsan donec vitae ligule, vestibulum quam aliquam, ac felis ut maruis mattis blandit. nunc cras semper vel tempor, scelerisque wwisi non hendrit, lacus vestibulum orci rhoncus mauris egestas odo justo orci mi euismod nibh.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Welcome Area End -->