<!-- Welcome Area Start -->
<% if @home_about.present? %>
<div class="welcome-area section-pt-60 bg-image-03">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="welcome-section text-center">
                    <div class="welcome-title">
                        <h2><strong>Vựa Rau G4 - Chợ Nông Sản Hóc Môn</strong></h2>
                        <div class="title-images">
                            <img src="/frontend/assets/images/icon/img-title.png" alt="">
                        </div>
                    </div>
                    <p class="fz-15">
                        <%= @home_about.content.html_safe %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
<!-- Welcome Area End -->