<footer class="footer">
    <div class="footer-top section-pb section-pt-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">

                    <div class="widget-footer mt-40">
                        <h6 class="title-widget company-name">G4 FINE FOODS - VỰA RAU G4</h6>

                        <div class="contact-call-wrap">
                            <img src="/frontend/assets/images/icon/img-headphone.png" alt="">
                            <div class="footer-call">
                                <p>HÃY GỌI NGAY CHO CHÚNG TÔI:</p>
                                <a href="tel:(+84) 97 202 81 99"><h6><strong>(+84) 97 202 81 99</strong></h6></a>
                            </div>
                        </div>
                        <div class="footer-addres">
                            <p><i class="fa fa fa-home"></i> Địa chỉ: 188 Đường số 1, Phường 16, Quận Gò Vấp, Thành phố Hồ Chí Minh, Việt Nam</p>
                            <p><i class="fa fa-envelope-o"></i> Email: soft.support@hoangkhang.com.vn</p>
                        </div>

                        <ul class="social-icons">
                            <li>
                                <a class="facebook social-icon" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="youtube social-icon" href="#" title="Twitter" target="_blank"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget-footer mt-40">
                        <h6 class="title-widget">Thông tin</h6>
                        <ul class="footer-list">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget-footer mt-40">
                        <h6 class="title-widget">Sản phẩm cung ứng</h6>
                        <ul class="footer-list">
                            <li><a href="#">Các loại rau</a></li>
                            <li><a href="#">Các loại củ</a></li>
                            <li><a href="#">Các loại quả</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget-footer mt-40">
                        <h6 class="title-widget">Theo dõi chúng tôi</h6>
                        <div class="fb-page" data-href="https://www.facebook.com/VuaRauG4"
                            data-tabs="timeline" data-width="" data-height="" data-small-header="true"
                            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                            <blockquote cite="https://www.facebook.com/VuaRauG4" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/VuaRauG4">Greens Four Season</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="text-center">
                        <p>
                            Copyright &copy; 2019 VUARAUG4.COM - All Rights Reserved.<br>
                            Designed by <a href="http://hoangkhang.com.vn" target="_blank">Hoang Khang Incotech</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

